@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    text-decoration: none;
    text-transform: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
}
.container {
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    background-color: #0D192C;
}

.card {
    max-width: 350px;
    max-height: 596px;
    background-color: #15263f;
    border-radius: 15px;
    -webkit-box-shadow: 10px 13px 40px 0px rgba(13,25,44,1);
-moz-box-shadow: 10px 13px 40px 0px rgba(13,25,44,1);
box-shadow: 10px 13px 40px 0px rgba(13,25,44,1);
}

.equilibrium {
    position: relative;
    margin: 24px;
    border-radius: 8px;
    overflow: hidden;
}

.equilibrium img {
    width: 100%;
    display: block;
}

.view {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: aqua;
    cursor: pointer;
    opacity: 0.5;
    display: none;
}

.equilibrium:hover .view {
    display: block;
}

.view img {
    position: absolute;
    width: 44px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.box_title {
    margin: 0px 24px;
}

.box_title a {
color: #fff;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 28px;
cursor: pointer;
}

.box_title a:hover {
    color: #00FFF8;
}

.box_title p{
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 26px;
color: #8BACD9;
margin-top: 16px;
}

.box_info {
    display: flex;
    margin: 16px 24px;
    justify-content: space-between;
   
}

.box_info img {box-shadow: 10px 10px 40px 10px rgba(21,38,63,0.48);
    -webkit-box-shadow: 10px 10px 40px 10px rgba(21,38,63,0.48);
    -moz-box-shadow: 10px 10px 40px 10px rgba(21,38,63,0.48);
    margin-right: 9px;
}

.eth {
    display: flex;
    align-items: center;
}

.eth p {
    color: #00FFF8;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.clock {
display: flex;
align-items: center;
}

.clock p {
    color: #8BACD9;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.avatar {
    display: flex;
    align-items: center;
    margin: 16px 16px 32px 24px;

}

.avatar a {
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    cursor: pointer;
}

.avatar a:hover {
color: #00FFF8;
}

.avatar img {
    width: 33px;
    border-radius: 50%;
    border: solid 1px #fff;
    margin-right: 15px;
}

.avatar p {
    color: #8BACD9;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.attribution {
    margin-top: 20px;
    color: #8BACD9;
    
}

.attribution a {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}

.attribution a:hover {
    color: #00FFF8;
}



