* {
    margin: 0;
    padding: 0;
};

.container {
    width: 1440px;
    margin: auto;
    background-color: #0D192C;
};


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
